@section head
{
    <link rel="canonical" href="https://passwordhashing.com/" />
    <meta name="description" content="A collection of password hashing tools. Including BCrypt, SHA* and others." />
    <meta name="keywords" content="password,hash,bcrypt,pbkdf2,sha1,sha256,sha384,sha512" />
}

<div class="row">
    <div class="col-md-12">
        <h1>Password Hashing</h1>
        <ul>
            <li><a title="Generate a BCrypt Hash" asp-area="" asp-controller="BCrypt" asp-action="Index">BCrypt</a></li>
            <li><a title="Generate a PBKDF2 Hash" asp-area="" asp-controller="PBKDF2" asp-action="Index">PBKDF2</a></li>
            <li><a title="Generate a SHA1 Hash" asp-area="" asp-controller="SHA1" asp-action="Index">SHA1</a></li>
            <li><a title="Generate a SHA256 Hash" asp-area="" asp-controller="SHA256" asp-action="Index">SHA256</a></li>
            <li><a title="Generate a SHA384 Hash" asp-area="" asp-controller="SHA384" asp-action="Index">SHA384</a></li>
            <li><a title="Generate a SHA512 Hash" asp-area="" asp-controller="SHA512" asp-action="Index">SHA512</a></li>
        </ul>
    </div>
</div>
