<div class="row">
    <div class="col-md-12">
        <h1>Password Hashing</h1>
        <ul>
            <li><a asp-area="" asp-controller="BCrypt" asp-action="Index">BCrypt Hash Generator</a></li>
            <li><a asp-area="" asp-controller="PBKDF2" asp-action="Index">PBKDF2 Hash Generator</a></li>
            <li><a asp-area="" asp-controller="SHA1" asp-action="Index">SHA1 Hash Generator</a></li>
            <li><a asp-area="" asp-controller="SHA256" asp-action="Index">SHA256 Hash Generator</a></li>
            <li><a asp-area="" asp-controller="SHA384" asp-action="Index">SHA384 Hash Generator</a></li>
            <li><a asp-area="" asp-controller="SHA512" asp-action="Index">SHA512 Hash Generator</a></li>
        </ul>
    </div>
</div>
