<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.webServer>
    <applicationInitialization doAppInitAfterRestart="true">
      <add initializationPage="/" />
      <add initializationPage="/BCrypt" />
      <add initializationPage="/PBKDF2" />
      <add initializationPage="/SHA1" />
      <add initializationPage="/SHA256" />
      <add initializationPage="/SHA384" />
      <add initializationPage="/SHA512" />
      <add initializationPage="/BCrypt?plainText=Warmup" />
      <add initializationPage="/PBKDF2?plainText=Warmup" />
      <add initializationPage="/SHA1?plainText=Warmup" />
      <add initializationPage="/SHA256?plainText=Warmup" />
      <add initializationPage="/SHA384?plainText=Warmup" />
      <add initializationPage="/SHA512?plainText=Warmup" />
    </applicationInitialization>
  </system.webServer>

</configuration>